

<script>

$(function(){
    // ページ下部固定ボタン表示非表示
        $(window).on('load resize',function(){
            btnOffset = $('.product_pointsecond_wrap').offset().top;
            winH = $(window).height();
        });
        $(function() {
            var fixedbtn = $('.product-bottom');
            fixedbtn.hide();
            $(window).scroll(function () {
                if ($(this).scrollTop() > btnOffset - winH) {
                    fixedbtn.fadeIn();
                } else {
                    fixedbtn.fadeOut();
                }
            });
        });
    });

</script>




{% schema %}
    {
    "name":"ボトムカート",
        "presets":[
        {
          "name":"ボトムカート",
          "category":"カスタムパーツ"
        }]
      }
    {% endschema %}




{%- form 'product', product, class: 'ProductForm' -%}
{%- render 'product-data', product: product -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {%- render block -%}


        {%comment%}数量の表示
        {%- when 'quantity_selector' -%}
          <div class="ProductForm__QuantitySelector" {{ block.shopify_attributes }}>
            {%- if block.settings.show_label -%}
              <span class="ProductForm__Label">{{ 'product.form.quantity' | t }}:</span>
            {%- endif -%}

            <div class="QuantitySelector QuantitySelector--large">
              {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

              <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% render 'icon' with 'minus' %}</button>
              <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1" aria-label="{{ 'product.form.quantity' | t }}">
              <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% render 'icon' with 'plus' %}</button>
            </div>
          </div>{%endcomment%}


        {%comment%}カートの表示{%endcomment%}
        {%- when 'buy_buttons' -%}
          {%- if block.settings.show_payment_button == false or product.selling_plan_groups.size > 0 -%}
            {%- assign use_primary_button = true -%}
          {%- else -%}
            {%- assign use_primary_button = false -%}
          {%- endif -%}

          <div class="ProductForm__BuyButtons" {{ block.shopify_attributes }}>
            {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
              <style>
                #shopify-section-{{ section.id }} .shopify-payment-button {
                  display: none;
                }
              </style>
            {%- endif -%}

            <button type="submit" data-use-primary-button="{% if use_primary_button %}true{% else %}false{% endif %}" class="ProductForm__AddToCart Button {% if product.selected_or_first_available_variant.available and use_primary_button %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if product.selected_or_first_available_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
              {%- if product.selected_or_first_available_variant.available -%}
                <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

                {%- if block.settings.show_price_in_button -%}
                  <span class="Button__SeparatorDot"></span>
                  <span>{{ product.selected_or_first_available_variant.price | money }}</span>
                {%- endif -%}
              {%- else -%}
                {{- 'product.form.sold_out' | t -}}
              {%- endif -%}
            </button>

            {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
              {{ form | payment_button }}
            {%- endif -%}
          </div>

      {%- endcase -%}
    {%- endfor -%}

    {%- unless has_ouputted_variant_selector -%}
      {%- comment -%}If for any reason the merchant has removed the variant selector block, we still output the ID here{%- endcomment -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {%- endunless -%}
  {%- endform -%}












  <div class="product-bottom medium-up--hide">

    <div class="product-template__container page-width"
     id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="product"
     data-enable-history-state="true"
     data-ajax-enabled="{{ settings.enable_ajax }}"
    >

    <div class="product-bottom_contens">
    {%comment%}タイトルの表示{%endcomment%}
    <h1 class="ProductMeta__Title Heading u-h2">
          {{- product.title -}}
    </h1>

    {%comment%}価格の表示{%endcomment%}
    {%- if product.template_suffix != 'coming-soon' -%}
    <div class="ProductMeta__PriceList Heading">
      {%- if settings.currency_code_enabled -%}
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
          <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_with_currency }}</span>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money }}（税込）</span>
        {%- endif -%}
      {%- else -%}
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money }}</span>
          <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money }}（税込）</span>
        {%- endif -%}
      {%- endif -%}
    </div>
    {%- endif -%}

    </div> 



    <div class="product-bottom_contens cart_contens">    
        {%comment%}数量の表示{%endcomment%}
        <div class="ProductForm__QuantitySelector" {{ block.shopify_attributes }}>
            {%- if block.settings.show_label -%}
            <span class="ProductForm__Label">{{ 'product.form.quantity' | t }}:</span>
            {%- endif -%}

            <div class="QuantitySelector QuantitySelector--large">
            {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

            <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% render 'icon' with 'minus' %}</button>
            <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1" aria-label="{{ 'product.form.quantity' | t }}">
            <button type="button" class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% render 'icon' with 'plus' %}</button>
            </div>
        </div>

     
    


        {%comment%}カートの表示{%endcomment%}
        <div class="ProductForm__BuyButtons" {{ block.shopify_attributes }}>
            {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
            <style>
                #shopify-section-{{ section.id }} .shopify-payment-button {
                display: none;
                }

            </style>
            {%- endif -%}

            <button type="submit" data-use-primary-button="{% if use_primary_button %}true{% else %}false{% endif %}" class="ProductForm__AddToCart Button {% if product.selected_or_first_available_variant.available and use_primary_button %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if product.selected_or_first_available_variant.available %}data-action="add-to-cart"{% else %}disabled="disabled"{% endif %}>
            {%- if product.selected_or_first_available_variant.available -%}
                <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

                {%- if block.settings.show_price_in_button -%}
                <span class="Button__SeparatorDot"></span>
                <span>{{ product.selected_or_first_available_variant.price | money }}</span>
                {%- endif -%}
            {%- else -%}
                {{- 'product.form.sold_out' | t -}}
            {%- endif -%}
            </button>

            {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
            {{ form | payment_button }}
            {%- endif -%}
        </div>
    </div>
    

</div>